@charset "utf-8";
p, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, select, button, code, label, em, span, strong {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  letter-spacing: -.5px;
  word-break: keep-all;
}

* {margin: 0;padding: 0;}
li {list-style: none;}
a {text-decoration: none;color: inherit;}

.wrap {position: relative;font-family: 'Noto Sans KR';}
/* header */
#header {height: 100px;width: 100%;position: absolute;top: 0;left: 50%;transform: translateX(-50%);text-align: center;z-index: 10;border-bottom: 1px solid #eee;}
#header:after {content: '';width: 100%;background: #fff;height: 100px;position: absolute;top: 0;left: 0;z-index: -1;opacity: 0;transition: all 0.4s ease-out;}
#header:hover {background: #fff;}
#header:hover:after {height: 170px;opacity: 1;}
#header h1 {padding-left: 40px;}
#header h1 a {width: 187px;height: 98px;background: url(../img/logo.png) no-repeat 50% 50%;display: block;text-indent: -9999px;float: left;box-sizing: border-box;background-size: 100% auto;padding: 36px 0;display: block;}
#header .gnb_separator {border-bottom: 1px solid #ccc;width: 100%;height: 1px;position: absolute;top: 100px;opacity: 0;transition: all 0.4s ease-in-out;}
#header:hover .gnb_separator {opacity: 1;}

#header .gnb .gnbWrap {display: inline-block;position: relative;text-align: center;}
#header .gnb .gnbWrap .depth1 {display: inline-block;text-align: center;font-size: 18px;font-weight: 500;color: #000;}
#header .gnb .gnbWrap .depth1 a {padding: 36px 22px;display: block;position: relative;}
#header .gnb .gnbWrap .depth1 a:after {content: '';width: 0;height: 4px;background: #4772d5;position: absolute;left: 50%;bottom: -4px;transform: translateX(-50%);transition: all 0.2s ease-in-out;opacity: 0;}
#header .gnb .gnbWrap .depth1:hover a:after {width: 100%;opacity: 1;}
#header .gnb .gnbWrap .depth1:hover {color: #4772d5;}
#header .gnb .gnbWrap .depth1:hover > .depth2 li {display: block;}
#header .gnb .gnbWrap .depth1 .depth2 {position: absolute;left: 0;width: 100%;}
#header .gnb .gnbWrap .depth1 .depth2 ul {width: 100%;align-items: center;}
#header .gnb .gnbWrap .depth1 .depth2 ul li {float: left;background: inherit;display: none;max-width: 1920px;}
#header .gnb .gnbWrap .depth1 .depth2 ul li:hover a{}
#header .gnb .gnbWrap .depth1 .depth2 ul li a {font-size: 14px;padding: 28px 16px;color: #777;position: relative;font-weight: 500;}
#header .gnb .gnbWrap .depth1 .depth2 ul li a:after {content: '';width: 0;height: 1px;background: #000;position: absolute;left: 50%;bottom: 5px;transform: translateX(-50%);transition: all 0.2s ease-in-out;opacity: 0;}
#header .gnb .gnbWrap .depth1 .depth2 ul li a:hover:after {width: 100%;opacity: 1;}
#header .gnb .gnbWrap .depth1 .depth2 ul li a:hover {color: #000;font-size: 16px;}
#header .gnb .gnbWrap .depth1 .depth2 .depth2_2 {padding-left: 100px;}
#header .gnb .gnbWrap .depth1 .depth2 .depth2_3 {padding-left: 230px;}
#header .gnb .gnbWrap .depth1 .depth2 .depth2_4 {padding-left: 130px;}
#header .gnb .gnbWrap .depth1 .depth2 .depth2_5 {padding-left: 350px;}
#header .gnb .gnbWrap .depth1 .depth2 .depth2_6 {padding-left: 400px;}


#header .gnb .global {width: 100px;padding: 40px;position: absolute;top: 0;right: 40px;}
#header .gnb .global span {width: 25px;height: 25px;background:url(../img/ico_lang.png);display: block;float: left;}
#header .gnb .global h3 {display: block;font-size: 20px;text-transform: uppercase;line-height: 23px;}

#header .gnb .allMenu {position: absolute;top: 44px;right: 60px;}
#header .gnb .allMenu a {width: 21px;height: 18px;display: block;position: relative;}
#header .gnb .allMenu a:before {content: '';position: absolute;top: 0;left: 0;width: 100%;height: 2px;background: #222;}
#header .gnb .allMenu span {width: 14px;height: 2px;background: #222;position: absolute;right:0;top: 0;bottom: 0;margin: auto;display: inline-block;}
#header .gnb .allMenu a:after {content: '';position: absolute;bottom: 0;left: 0;width: 100%;height: 2px;background: #222;}

.main {position: relative;}
.main #arrow_prev {position: absolute;top: 75%;left: 25%;}
.main #arrow_next {position: absolute;top: 75%;left: 27%;}

.wrap .section_header {text-align: center;}
.wrap .section_header .pageNumber {font-weight: 900;position: relative;margin-bottom: 20px;}
.wrap .section_header .pageNumber:after {content: '';background: url(../img/ico_slash.png)no-repeat;width: 20px;height: 20px;display: block;position: absolute;top: 25px;left: 50%;transform: translateX(-35%);}
.wrap .kor {font-size: 50px;margin-bottom: 20px;font-weight: bold;}
.wrap .eng {font-size: 16px;font-weight: 600;}
.wrap .message {margin-top: 40px;font-size: 18px;font-weight: 500;color: #666;margin-bottom: 100px;}

/* 디지털 사이니지 */
.digital {margin-bottom: 100px;}
.digital .wrap{width: 100%;max-width: 1280px;margin: 0 auto;}

.digital .wrap .digital_main {margin-top: 50px;}
.digital .wrap .digital_main .main_tab {display: flex;text-align: center;}
.digital .wrap .digital_main .main_tab li {flex: 1 33.333%;border-top: 5px solid #ddd;height: 100px;line-height: 100px;font-size: 18px;font-weight: 700;color: #ddd;}
.digital .wrap .digital_main .main_contents div {display: block;}
.digital .wrap .digital_main .main_contents div.off {display: none;}
.digital .wrap .digital_main .main_contents > div .content_pic ul {display: flex;}
.digital .wrap .digital_main .main_contents > div .content_pic li {flex: 1 50%;}
.digital .wrap .digital_main .main_contents > div .content_desc  {display: flex;}
.digital .wrap .digital_main .main_contents > div .content_desc > div {flex: 1 50%;}
.digital .wrap .digital_main .main_contents > div .content_desc .desc_left h3 {border-left: 2px solid #000;padding-left: 30px;margin-top: 40px;font-size: 20px;font-weight: 900;font-family: 'Noto Sans KR';}
.digital .wrap .digital_main .main_contents > div .content_desc .desc_left h3 span {letter-spacing: 1.5px;}
.digital .wrap .digital_main .main_contents > div .content_desc .desc_right {margin-top: 40px;}
.digital .wrap .digital_main .main_contents > div .content_desc .desc_right h2 {font-size: 36px;font-family: 'Noto Sans KR';font-weight: 700;color: #333;}
.digital .wrap .digital_main .main_contents > div .content_desc .desc_right h4 {font-size: 18px;line-height: 200%;margin-top: 20px;color: #494949;font-weight: 500;}

/* 기업메시지 */
.companyMessageing {background: #f3f3f3;padding-top: 100px;padding-bottom: 100px;}
.companyMessageing .wrap {width: 100%;max-width: 1280px;margin: 0 auto;}
.companyMessageing .message_contents {margin-top: 100px;padding-bottom: 100px;}
.companyMessageing .message_contents ul {display: flex;}
.companyMessageing .message_contents li {flex: 1 25%;position: relative;}
.companyMessageing .message_contents li div {position: absolute;top: 30%;left: 0;padding: 40px 20px;color: #fff;font-family: 'Noto Sans KR';}
.companyMessageing .message_contents li div h5 {font-size: 18px;font-weight: 700;margin-bottom: 10px;}
.companyMessageing .message_contents li div h3 {font-size: 28px;font-weight: 900;margin-bottom: 20px;}
.companyMessageing .message_contents li div span {border-bottom: 2px solid #fff;width: 25px;height: 1px;display: block;margin-bottom: 20px;}
.companyMessageing .button {text-align: center;}
.companyMessageing .button a {display: block;width: 240px;height: 60px;line-height: 60px;font-size: 14px;font-weight: 700;color: #111;border: 1px solid #999;box-sizing: border-box;margin: 0 auto;letter-spacing: .6px;font-family: 'Noto Sans KR';}

/* 퓨처넷소식 */
.futurenet_news {padding-top: 100px;}
.futurenet_news .wrap {width: 100%;max-width: 1280px;margin: 0 auto;}
.futurenet_news .wrap .futurenet_header {text-align: left;width: 36%;display: inline-block;float: left;}
.futurenet_news .wrap .futurenet_header .pageNumber {font-weight: 900;position: relative;margin-bottom: 20px;line-height: 1em;letter-spacing: 4px;font-family: 'Noto Sans KR';}
.futurenet_news .wrap .futurenet_header .pageNumber:after {content: '';background: url(../img/ico_slash.png)no-repeat;width: 20px;height: 20px;display: block;position: absolute;top: 25px;left:0.7% ;transform: translateX(-35%);}
.futurenet_news .wrap .futurenet_header .kor {font-size: 50px;margin-bottom: 20px;font-weight: bold;margin-top: 50px;letter-spacing: 4px;line-height: 1em;}
.futurenet_news .button {text-align: center;margin-top: 50px;}
.futurenet_news .button a {display: block;width: 240px;height: 60px;line-height: 60px;font-size: 14px;font-weight: 700;color: #111;border: 1px solid #999;box-sizing: border-box;letter-spacing: .6px;font-family: 'Noto Sans KR';}
.futurenet_news .futurenet_contents {width: 64%;float: left;font-family: 'Noto Sans KR';}
.futurenet_news .futurenet_contents li {width: 49%;float: left;margin-right: 1%;margin-bottom: 1%;padding: 50px 40px;box-sizing: border-box;}
.futurenet_news .futurenet_contents li.blue {background: #90a4d2 url(../img/notice_noImg.png)no-repeat;background-size: 100%;color: #fff;}
.futurenet_news .futurenet_contents li.white {background: #fff url(../img/notice_noImg.png)no-repeat;background-size: 100%;border: 1px solid #000;}
.futurenet_news .futurenet_contents li a .content_bg {text-shadow: 1px 1px 3px rgba(0,0,0,.5);}
.futurenet_news .futurenet_contents li a .content_bg h4 {font-size: 64px;margin-bottom: -15px;margin-left: -5px;}
.futurenet_news .futurenet_contents li a .content_bg span {font-weight: 500}
.futurenet_news .futurenet_contents li a .content_desc {margin-top: 150px;}
.futurenet_news .futurenet_contents li a .content_desc p {font-size: 14px;font-weight: 700}
.futurenet_news .futurenet_contents li a .content_desc h3 {font-size: 26px;font-weight: 700;}


/* 시공사례 */
.case {text-align: center;background: #efe9db url(../img/bg_case.png)no-repeat 50% 100%;padding-top: 100px;padding-bottom: 200px;position: relative;}
.case .section_header {text-align: center;}
.case .pageNumber {font-weight: 900;position: relative;margin-bottom: 20px;}
.case .pageNumber:after {content: '';background: url(../img/ico_slash.png)no-repeat;width: 20px;height: 20px;display: block;position: absolute;top: 25px;left: 50%;transform: translateX(-35%);}
.case .kor {font-size: 50px;margin-bottom: 20px;font-weight: bold;margin-top: 50px;}
.case .eng {font-size: 16px;font-weight: 600;}
.case .message {margin-top: 40px;font-size: 18px;font-weight: 500;color: #666;}
.case .case_slider div {margin-right: 10px;}
.case .case_slider div img {width: 100%;height: 480px;}
.case .case_slider div div {background: #efe9db;position: relative;}
.case .case_slider div div p {background: #fff;position: absolute;bottom: 0;left: 50%;transform: translateX(-49%);width: 102%;font-size: 24px;font-weight: 900;height: 190px;line-height: 190px;padding: 2px;overflow: hidden;opacity: 0;transition: all 0.5s ease-out;}
.case .case_slider div div p:before {content: '';position: absolute;top: -30px;left: 50%;transform: translateX(-50%);width: 1px;height: 30px;display: block;background: #000;transition: all 0.5s ease-out;}
.case .case_slider div a:hover div p{opacity: 1;}
.case .case_slider div a:hover div p:before {top: 0;}
.case .slick-prev2 {position: absolute;top: 33%;left: 47%;}
.case .slick-next2 {position: absolute;top: 33%;left: 52%;transform: translateX(-35%);}
.case .separator {position: absolute;top: 33%;left: 50%;width: 1px;height: 30px;background: #000;transform: translateX(-50%);}

/* 상담신청 */
section.application {text-align: left;background: url(../img/bg_cs.jpg)no-repeat 100% 100%;height: 660px;position: relative;box-sizing: border-box;padding: 100px 30px 160px;}
.application > .wrap {max-width: 1280px;margin: 0 auto;width: 100%;}
.application > .wrap .section_header {text-align: left;}
.application > .wrap .section_header .pageNumber {font-weight: 900;position: relative;margin-bottom: 20px;}
.application > .wrap .section_header .pageNumber:after {content: '';background: url(../img/ico_slash.png)no-repeat;width: 20px;height: 20px;display: block;position: absolute;top: 25px;left: 10px;transform: translateX(-35%);}
.application .time {background: url(../img/ico_time.png)no-repeat 0 50%;margin-top: 100px;}
.application .time span {margin-left: 25px;color: #999;}
.application .call {margin-top: 10px;font-size: 24px;color: #666;border-bottom: 1px solid #000;display: inline-block;}
.application .button {text-align: center;margin-top: 50px;}
.application .button a {display: block;width: 240px;height: 60px;line-height: 60px;font-size: 14px;font-weight: 700;color: #111;border: 1px solid #999;box-sizing: border-box;letter-spacing: .6px;font-family: 'Noto Sans KR';}

/* footer */
#footer {background: #1e1f21;color: #666;position: relative;}
#footer:after {content: '';position: absolute;top: 70px;left: 0;width: 100%;height: 1px;background: #333;}
#footer .wrap {width: 100%;max-width: 1280px;margin: 0 auto;}
#footer .wrap .footer_header {position: relative;}
#footer .wrap .footer_header ul {overflow: hidden;}
#footer .wrap .footer_header ul li {padding: 20px 10px;float: left;}
#footer .wrap .footer_header ul li:first-child {padding-left: 0;}
#footer .wrap .footer_header ul li a {font-size: 13px;font-weight: 700;}
#footer .wrap .footer_header ul li.private a {color: #fff;}
#footer .wrap .footer_header .family {position: absolute;top: 0;right: 0;}
#footer .wrap .footer_header .family_btn {background: url(../img/ico_up.png)no-repeat 100% 50%;padding-right: 20px;cursor: pointer;margin: 24px 20px 0 0;color: #fff;font-size: 14px;font-weight: bold;}
#footer .wrap .footer_header .family ul {position: absolute;bottom: 40px;left: -5px;width: 120px;padding: 10px 0;font-size: 12px;color: #fff;border: 1px solid #1e1f21;background: #242527;}
#footer .wrap .footer_header .family ul li {padding: 5px;margin: 0;}


#footer .wrap .footer_foot {margin-top: 30px;}
#footer .wrap .footer_foot div ul li {display: inline-block;margin-right: 20px;font-size: 13px;margin-bottom: 30px;}
#footer .wrap .footer_foot div {position: relative;padding-bottom: 100px;}
#footer .wrap .footer_foot div p {font-size: 12px;}
#footer .wrap .footer_foot div div {position: absolute;top: 0;right: 0;width: 150px;}
#footer .wrap .footer_foot div div span {font-size: 14px;position: absolute;top: 10px;right: 160px;}
#footer .wrap .footer_foot div div p {font-size: 22px;display: inline-block;color: #fff;font-weight: 700;}